*.DS_Store
*.opensdf
*.sdf
*.suo
*.sw?
*.vcxproj.user
*.o
a.out
Cyber.bc
objs
ipch
build.etc
Build
Debug
Release
project.xcworkspace/
xcuserdata/
Programs/Mac/bard
Test.bc
Test/Test.js
Programs/BCC-old.bc
Libraries/Bard/Bardic/*.js
