*.swp
.DS_Store
Source/Compiler/Bard/RogueC.bc
Programs/Bard/Programs/Mac
Programs/Bard/Programs/Windows
Test.rogue
Test.cpp
Test.h
a.out
RogueProgram.*
Programs/roguec
Samples/**/*.h
Samples/**/*.cpp
namegenerator
