Source/RogueC/ScannerCore.rogue
Source/RogueC/ParserCore.rogue
/Wiki

.rogo
Local.settings
BuildLocal.rogue
/Build
*.swo
*.swp
*.o
.DS_Store
*~
/Test.rogue
/test
/Test.c
/Test.m
/Test.h
/Test.cpp
/Test.mm
/Source/RogueC/Old

/Xcode
/V1

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
